body{
  background-color: #000000;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 200%;
  font-family: 'Manrope', sans-serif;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #e1dcdd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #f7d9ce;
  color: #000000;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  width: 10%;

}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

h1{
  color: white;
  text-align: center;
  font-style: normal;
  font-family: 'Manrope', sans-serif;
  font-size:10vw

}



img.main-img{
width: 400px;
vertical-align: middle;
padding-top: 100px
}

div.header{
  text-align: center;
  padding: 20px;

}

div.header p{
  color: white;
  margin: 0;
  font-size: 29px;
  font-family: 'Manrope', sans-serif;
  font-size: 300%;


}




div.spacer1{
  margin-top: 100px;
  margin-bottom: 100px;
}

div.spacer2{
  padding-top: 100px;
  padding-bottom: 100px;
}

div.main-text{

  display: flex;
  align-items: center;
  height: 20%;
  width: auto;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  justify-content: center;
  padding-top: 75px;

}

div.main-text p{
  color: white;
  margin: 0;
  font-size: 250%;
  font-family: 'Manrope', sans-serif;

}

div.contact-form{

  border-radius: 5px;
  padding: 100px;
  padding-top: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;


}

div.wrapper p{
  font-family: 'Manrope', sans-serif;
  font-size: 220%;
  text-align: center;
  color: white;
  padding: 30px;


}

input.name-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  background-color: #f7d9ce;
  font-size: 200%;
}

input.email-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  background-color: #f7d9ce;
  font-size: 200%;

}

textarea.message-input{
  width: 100%;
  height: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  background-color: #f7d9ce;
  font-size: 200%;

}

input:hover {
  background-color: #e1dcdd;
}

textarea:hover{
  background-color: #e1dcdd;
}


button.submit-button {
  width: 100%;
  background-color: #f7d9ce;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  font-size: 200%;
}

button.submit-button:hover {
  background-color: #e1dcdd;
}

/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
